<div class="jumbotron text-center">
    <h1>Game Page</h1>
    <label for = "nameSearch">Name:</label>
    <input id = "nameSearch" type="search" ng-model="search.name" placeholder="Search..."/>
    <label for = "numPlayersSearch">Number of Participants:</label>
    <input id = "numPLayersSearch" type="number" ng-model="search.numPlayers"/>
    <label for = "ratingSearch">Minimum rating:</label>
    <input id = "ratingSearch" type="number" min="0" max="5" step="1" value="0" ng-model="search.rating" style="width:176px"/>
    <label for = "timeSearch">Estimated time:</label>
    <input id = "timeSearch" type="search" ng-model="search.estTime"/>
    <br><br>
    <div id="gamelist" ng-repeat = 'game in games | filter:search:comparator'>
        <div class='panel panel-default'>
            <div class="accordion-toggle panel-heading">
                <p style="font-size:16px;text-align:left;margin:0">{{game.name}}</p>
            </div>
            <div class="accordion-content panel-body">
    	      <p>{{game.description}}</p>
            </div>
        </div>
    </div>
</div>